
.caption {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgb(32,32,32);
    align-items: center;
    display: flex
}

.button {
    position: fixed;
    display: flex;
    width: 60px;
    right: 0px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 5px;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.logo {
    position: fixed;
    display: flex;
    width: 32px;
    height: 32px;
    left: 0px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.text {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    color: white;
    margin-left: 100px;
}

.button:hover {
    background-color: blueviolet;
}

.buttonImage {
    height: 50%;
}
