
.draggable {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 50px;
    background-color: rgb(64,64,64);
}

.button {
    position: fixed;
    margin-right: 25px;
    margin-left: 30px;
    width: 60px;
    height: 35px;
    background-color: blueviolet;
    margin-top: 6px;
    right: 0;
    border-radius: 5px;
}

.image {
    height: auto;
    width: auto;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 1px;
}

}

